.controlBar {
  background-color: #1cb3ff;
  overflow: hidden;
}

.nowPlaying {
  height: 48px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.queue {
  height: 30vh;
  padding: 4px 12px;
  background-color: #fff;
  color: #1cb3ff;
}

.controls {
  height: 48px;
  padding: 0 12px;
}
