.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.disabled {
  pointer-events: none;
  color: #ccc;
}

.playPause {
  font-size: 48px;
  line-height: 48px;
}
