* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  margin: 8px;
  padding-left: 4px;
  border-left: 2px solid #1cb3ff;
  color: #666;
}
