.flex-container {
  display: flex;
}

.flex-item {
  margin-top: 1em;
  margin-left: 1em;
}

.flex-vertical {
  flex-direction: column;
}

.channel-name {
  font-weight: bold;
  font-size: large;
}

#video-image {
  max-width: 640px;
}

@media screen and (max-width: 992px) {
  .flex-container {
    flex-wrap: wrap;
  }

  #video-image {
    width: 100%;
  }

  .responsive-image-width {
    width: 100%;
  }
}

.details-container {
  min-width: 0px;
}
