.flex-container {
  display: flex;
}

.flex-item {
  margin-top: 1em;
  margin-left: 1em;
}

.flex-vertical {
  flex-direction: column;
}

.channel-name {
  font-weight: bold;
  font-size: large;
}

@media screen and (max-width: 992px) {
  .flex-container {
    flex-wrap: wrap;
  }

  #youtube-player {
    width: 100%;
  }

  .responsive-player-width {
    width: 100%;
  }
}

.details-container {
  min-width: 0px;
}

.lyrics-input-container {
  margin-right: 1em;
}

.radio-item {
  margin-top: 0em;
}

#add-lyrics {
  margin-left: 0.5em;
}

.add-lyrics-section {
  margin-top: 0em
}
