.lyrics-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
}

.entry-container {
  font-size: 44px;
  /* Replace with real stroke when https://bugs.chromium.org/p/chromium/issues/detail?id=815111 is fixed */
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  position: absolute;
  left: 0%;
  top: 100%;
  transition: margin-top 0.25s ease-out;
  font-family: notoSerifJP, notoSerifKR;
  color: white;
}
