.mainContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;
}

.inputBar {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background: #f9f9f9;
}

.input {
  flex: 1;
}
