.appMainContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appPlayer,
.appSidebar {
  padding: 0 !important;
  height: 100%;
}

.appSidebar {
  display: flex;
  flex-direction: column;
}

#toast-container {
  top: 0px;
  right: 10px;
}
