.pianoRollRoll {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  height: 30%;
  background: repeating-linear-gradient(
    rgba(50%, 75%, 100%, 0.7),
    rgba(50%, 75%, 100%, 0.7) 2px,
    rgba(0%, 0%, 10%, 0.2) 2px,
    rgba(0%, 0%, 10%, 0.2) calc(200% / 36)
  );
  transition: box-shadow linear 1.5s;
}

.pianoRollPog {
  box-shadow: inset 0px 0px 50px white, 0px 0px 75px white;
}
