.queueQueue {
  overflow: hidden;
}

.queueMarquee {
  white-space: nowrap;
  overflow: hidden;
}

.queueMarqueeInner {
  display: inline-block;
}

.queueMarqueeInner span {
  animation: queueMarquee 10s linear infinite;
}

@keyframes queueMarquee {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -25%;
  }
}
