name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - uses: actions/upload-artifact@v2
        with:
          name: karafriends-macos
          path: dist/mac/
          if-no-files-found: error
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn build
        env:
          CARGO_ARGS: --features asio
      - uses: actions/upload-artifact@v2
        with:
          name: karafriends-windows
          path: dist/win-unpacked/
          if-no-files-found: error
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "yarn"
      - run: sudo apt-get update && sudo apt-get install -y libasound2-dev
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: ls dist
      - uses: actions/upload-artifact@v2
        with:
          name: karafriends-linux
          path: dist/linux/
          if-no-files-found: error
